# Expo
__generated__
bare-apps
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.draft

# macOS
.DS_Store
*.mobileprovision
*.orig.*
web-build/
.draft
# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# VSCode
.history/

# python
venv/